<ng-container>
  <mat-toolbar>
    <span class="title">Vos tests</span>
  </mat-toolbar>
  <div class="font">

    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button mat-fab (click)="openDialog()">
            <img class="imgButton" src="assets/icons/walk.png">
          </button>
        </div>
        <div class="button-container">
          <button mat-fab (click)="openDialog()">
            <img class="imgButton" src="assets/icons/dexterity.png">
          </button>
        </div>
        <div class="button-container">
          <button mat-fab (click)="openDialog()">
            <img class="imgButton" src="assets/icons/cognition.png">
          </button>
        </div>
        <div class="button-container">
          <button mat-fab (click)="openDialog()">
            <img class="imgButton" src="assets/icons/vision.png">
          </button>
        </div>
      </div>
    </div>

  </div>

  <footer>
    <span>Vos traitements actuels</span>
    <div class="flex-container">
      <div *ngFor="let treatment of treatments">
        <app-footer src="components/footer.html" [treatment]="treatment"></app-footer>
      </div>
    </div>
  </footer>
</ng-container>
